.product-slider {
    text-align: center;
    color     : #fff;
    margin    : 0 40px;
    padding   : 0 20px;
}

.newletter {
    background-color: #212529;
    color           : #fff;
    text-align      : center;
    padding-bottom  : 50px;

    h5 {
        padding-top: 30px;
        font-size  : 20px;
    }

    .search {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .newletter {
        .search {
            width: 80%;
        }
    }
}