.header {
    position: fixed;
    top     : 0;
    width   : 100%;
    height  : 60px;
    z-index : 99;

    .header-top {
        display         : flex;
        align-items     : center;
        justify-content : space-between;
        padding         : 10px 50px;
        color           : #fff;
        background-color: #101010;
        font-size       : 24px;

        .search {
            width: 400px;
        }

        .icon {
            .count-product {
                position        : absolute;
                top             : 15%;
                right           : 7.5%;
                background-color: red;
                border-radius   : 50%;
                padding         : 2px 6px;
                font-size       : 10px;
                color           : #fff;
                font-weight     : bold;
            }
        }
    }

    .menu {
        display         : flex;
        align-items     : center;
        justify-content : center;
        background-color: #212529;
        color           : #939ca3;
        padding         : 0 30px;

        .ant-menu-item {
            margin: 0 40px;
        }

        .ant-menu-item-selected {
            font-weight     : 700;
            color           : #fff;
            background-color: #212529;
        }


    }
}